---
import { Image } from "astro:assets";
---

<div
  id="about"
  class="w-full px-15 text-center my-10"
>
  <h2 class="text-5xl font-extrabold text-gray-500 my-10">من نحن</h2>
  <div class="flex flex-wrap md:justify-around">
    <div class="w-full mb-10 md:w-1/2 flex flex-col items-center">
      <!-- replace with img-->
      <div class="size-12 rounded-full bg-gray-200"></div>
      <h2 class="text-lg font-bold py-3">محمود طه علي</h2>
      <span class="font-bold">Pre <span class="text-brown">9</span></span>
      <p>شرح بسيط وموجز</p>
    </div>
    <div class="w-full mb-10 md:w-1/2 flex flex-col items-center">
      <!-- replace with img-->
      <div class="size-12 rounded-full bg-gray-200"></div>
      <h2 class="text-lg font-bold py-3">محمود سليمان عبد القادر</h2>
      <span class="font-bold">Pre <span class="text-brown">9</span></span>
      <p>شرح بسيط وموجز</p>
    </div>
  </div>
</div>
