---
const { color } = Astro.props;
---

<div
  
  class="transition-transform duration-500 -translate-x-[1000px] flex relative overflow-hidden items-center justify-end py-5 px-5 w-full min-h-28"
>
  <span
    style=`background: ${color};`
    class="column h-full delay-500 flex w-1 absolute right-[26px]"></span>
  <span
    style=`background: ${color};`
    class="flex order-1 ml-4 justify-center items-center relative bg-black w-4 h-4 rounded-full"
  >
    <span class="flex bg-inherit z-10 animate-ping w-full h-full rounded-full"
    ></span>
  </span>
  <div class="boxes hover:border-solid border-[1px] hover:border-brown  flex flex-col items-end bg-gray-100 shadow-gray-300 shadow-md w-3/4 h-fit p-4 rounded-md">
    <slot />
  </div>
</div>

<style>
.box .column {
  @apply animate-[changeHight_1s_linear]
}

@keyframes changeHight {
from {
  height: 0;
}
to {
  height: 100%;
}
}

</style>

<script>
  const boxes = document.querySelectorAll(".boxes");
  boxes.forEach((box) => {
    document.addEventListener("scroll", (e: any) => {
      if (window.innerHeight - 100 >= box.getBoundingClientRect().top) {
        console.log(1)
        box.parentElement.style.transform = "translate(0)"
        box.parentElement.classList.add("box")
      }
    });
  });
</script>
