---
import { Icon } from "astro-icon/components";
---

<div id="contact" class="w-full bg-black mt-10 p-12">
  <p class="text-center text-white mb-5">Made with 🤎 by us in Syria</p>
  <div class="grid grid-cols-5 gap-3">
    <Icon name="mdi:facebook" class="text-white size-8 hover:text-blue-600" />
    <Icon name="mdi:instagram" class="text-white size-8 hover:text-pink-600 " />
    <Icon name="mdi:whatsapp" class="text-white size-8 hover:text-green-600 " />
    <Icon name="mdi:telegram" class="text-white size-8 hover:text-sky-600 " />
    <Icon name="mdi:github" class="text-white size-8 hover:text-black hover:bg-white w-fit rounded-full  p-0 " />
 </div>
</div>

