---
import { Image } from "astro:assets";
---

<header
  class="flex z-30 sticky top-0 px-4 py-3 justify-between items-center bg-white"
>
  <Image
    class="aspect-square mt-1"
    loading="eager"
    src="/Logo.jpg"
    alt="Logo"
    height={50}
    width={50}
  />
  <nav>
    <ul id="burger-menu" class="h-5 flex flex-col justify-between items-end">
      <li class="burger"></li>
      <li class="burger"></li>
      <li class="burger"></li>

      <li
        class="links absolute right-4 shadow-gray-400 shadow-md bg-white rounded-md p-4 w-44 transition-all duration-200 flex flex-col"
      >
        <a href="#features">الميزات</a>
        <a href="#about">من نحن</a>
        <a href="#contact">معلومات التواصل</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  @tailwind components;
  @layer components {
    .burger {
      @apply w-6 bg-black h-[2px] block transition-all duration-200;
    }
  }
  .open li:nth-child(2) {
    @apply w-4;
  }
  .open li:nth-child(3) {
    @apply w-2;
  }

  .links {
    top: calc(100% + 16px);
    transform: translateX(calc(-100vw - 10px));
  }

  .links a {
    padding: 7px;
    @apply rounded-md w-full text-right;
  }
  .links a:hover {
    @apply bg-gray-100;
  }

  .links::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 3px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    width: 0;
    height: 0;
  }

  .open .links {
    transform: translate(0);
  }
</style>

<script>
  const menu = document.getElementById("burger-menu");
  menu?.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("open");
  });
  document.addEventListener("click", () => {
    menu.classList.remove("open");
  });
</script>
