@tailwind components;

@layer components {
  .burger {
    @apply w-6 bg-black h-[2px] block duration-300;
  }

  .btn {
    @apply py-3 rounded-full shadow-sm shadow-brown;
  }

  .feat-image {
    @apply rounded-md bg-gray-300;
  }
}

.open li:nth-child(2) {
  @apply w-4;
}

.open li:nth-child(3) {
  @apply w-2;
}

.links {
  top: calc(100% + 16px);
  transform: translateX(calc(-100vw - 10px));
}

.links a {
  padding: 7px;
  @apply rounded-md w-full text-right;
}

.links a:hover {
  @apply bg-gray-100;
}


.links::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 3px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent;
  width: 0;
  height: 0;
}

.open .links {
  transform: translate(0);
}

.landing {
  height: calc(100vh - 80px);
}


.historical-person,
.historical-box {
  will-change: contents;
  transition: .8s;
}

.historical-person {
  animation-delay: 3s;
}

.historical-box {
  animation-delay: 3000ms;
}

@media (min-width: 767px) {
  .historical-person {
    @apply animate-[move_8s_linear_infinite] transition-transform
  }

  .historical-person:nth-of-type(1) {
    animation-delay: 0s;

  }

  .historical-person:nth-of-type(2) {
    animation-delay: 2s;

  }

  .historical-person:nth-of-type(3) {
    animation-delay: 4s;
  }

  .historical-person:nth-of-type(4) {
    animation-delay: 6s;
  }
}


@keyframes move {

  from {
    transform: translateX(calc(-50vw - 100%));
  }

  to {
    transform: translateX(calc(100vw + 100%));
  }
}

@keyframes blink-caret {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  @keyframes rotationOne {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotationTwo {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }
}

@keyframes changeHight {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

[data-aos="stretchHight"] {
  height: 0;
  transition-property: all;
}

[data-aos="stretchHight"].aos-animate {
  height: 100%;
}
