---
import Landing from "./landing/landing.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Medhistory</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Medhistory هو تطبيق تعليمي لطلاب السنة التحضيرية للكليات الطبية في سوريا، يقدم قصص قصيرة لتسهيل الحفظ وفيديوهات أنيميشن وأيضاً أسئلة مؤتمتة للتحقق من الفهم الكامل."
    />
    <meta
      name="google-site-verification"
      content="fdU0e2jeJpGl-jOjNIsdQrMk_6DLEAiUg8vEFekRvlA"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    {false? (<Landing />) : ""}
  </body>
</html>
