---
import Landing from "./landing/landing.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    h1 {
      text-align: center;
    }
    </style>
  </head>
  <body>
  <Landing/>
  </body>
</html>
