---
import { Image } from "astro:assets";
import firstImage from "../assets/IMG_20240228_213908_238.jpg";
import secondImage from "../assets/IMG_20240228_213914_405.jpg";
import thirdImage from "../assets/IMG_20240228_213920_203.jpg";
import fourthImage from "../assets/IMG_20240228_213942_107.jpg";
---

<div>
  <header
    class="flex z-10 sticky top-0 px-4 py-3 justify-between items-center bg-white"
  >
    <Image
      class="aspect-square mt-1"
      loading="eager"
      src="/Logo.jpg"
      alt="Logo"
      height={50}
      width={50}
    />
    <nav>
      <ul class="h-5 flex flex-col justify-between">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </ul>
      <ul class="links" style="display: none;">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
  </header>
  <div class="landing relative px-4 flex items-center flex-col bg-gray-100">
    <div class="h-[180px] my-6 box-border">
      <p
        dir="rtl"
        id="landing-text"
        class="h-[180px] w-[185px] text-3xl font-sans font-bold text-center leading-loose"
      >
        <span id="span" dir="ltr" class="text-brown"></span>
        <span
          class="inline-flex h-6 w-[2px] bg-brown animate-[blink-caret_1s_step-end_infinite]"
        ></span>
      </p>
    </div>
    <div
      class="w-full flex justify-around top-7 left-1/2 relative -translate-x-1/2 -translate-y-1/2"
    >
      <button type="button" class="btn bg-white">تسجيل الدخول</button>
      <button type="button" class="btn bg-brown text-gray-100"
        >إنشاء حساب</button
      >
    </div>
    <div
      class=" w-full  h-dvh mt-10 flex justify-center items-center overflow-hidden"
    >
      <div class="border-brown border-4 border-solid grid grid-cols-2 grid-rows-2 gap-14  size-64 relative bottom-[-50%] rounded-full animate-[rotationOne_6s_infinite_linear]">
        <Image
          class="relative img animate-[rotationTwo_6s_infinite_linear] "
          src={firstImage}
          height={100}
          width={100}
          quality="high"
          loading="eager"
          alt="firstImage"
        />
        <Image
          class="relative img animate-[rotationTwo_6s_infinite_linear] "
          src={secondImage}
          alt="secondImage"
          height={100}
          width={100}
          quality="high"
          loading="eager"
        />
        <Image
          class="relative img animate-[rotationTwo_6s_infinite_linear]"
           src={thirdImage}
          alt="thirdImage"
          height={100}
          width={100}
          quality="high"
          loading="eager"
        />
        <Image
          class="relative img animate-[rotationTwo_6s_infinite_linear]"
          src={fourthImage}
          alt="fourthImage"
          height={100}
          width={100}
          quality="high"
          loading="eager"
        />
      </div>
    </div>
  </div>
  <div class="h-screen"></div>
</div>

<style>
  @tailwind components;

  @layer components {
    .burger {
      @apply w-6 bg-black h-[2px] block;
    }
    .btn {
      @apply p-3 rounded-full shadow-md shadow-gray-300;
    }
    .img {
      @apply aspect-square rounded-md;
    }
  }

  .landing {
    height: calc(100vh - 80px);
  }
  @keyframes rotationOne {
   from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }


  @keyframes rotationTwo {
   from {
      transform: rotateZ(360deg);
    }
    to {
      transform: rotateZ(0deg);
    }
  }

  @keyframes blink-caret {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>
<script>

  let length = 0;
  const text = `تعلم تاريخ الطب مع Medhistory.`;
  const writingSpeed = 100;
  const span = document.getElementById("span");

  function writer() {
    if (length < text.length) {
      if (length > 18) {
        span.append(text[length]);
        length++;
      } else {
        span.before(text[length]);
        length++;
      }
    }
    let counter = setTimeout(writer, writingSpeed);
    if (length > text.length) {
      clearTimeout(counter);
    }
  }
  writer();
</script>
